      
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Family Chart</title>
    {% load static %} 
    <script src="https://unpkg.com/d3@6"></script>
    <script src="https://unpkg.com/family-chart@latest/dist/family-chart.min.js"></script>
    <link rel="stylesheet" href="{% static 'family-chart.css' %}">
</head>
<body>
    <div id="FamilyChart" class="f3"></div>
    <script src="{% static 'family_chart.js' %}"></script>

</body>
</html>

    